# Node
*/node_modules/
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

# Env
*.env.local

# PDFs
*.pdf

# Logs
*/logs
*.log
*/logs/*.log

# OS files
.DS_Store
Thumbs.db

# Build
*/dist/
*/build/

# Supabase local
supabase/.branches
supabase/.temp
supabase/.env

*.env

.vscode/
